import React from 'react';

export type {{pascalCase name}}ScreenProps = {}

const {{pascalCase name}}Screen: React.FC<{{pascalCase name}}ScreenProps> = (props) => {
  return (
  <div>
    {{pascalCase name}} Screen
  </div>
  );
};

export default {{pascalCase name}}Screen;
